<!-- src/app/record/record.component.html -->
<app-navbar></app-navbar>

<div class="container mt-5">
    <h2>Borrowing Record</h2>
    <ul>
        <li>Borrowed Book 1 - Return Date: mm/dd/yyyy</li>
        <li>Borrowed Book 2 - Return Date: mm/dd/yyyy</li>
        <!-- Add more list items based on the user's borrowing history -->
    </ul>
</div>