/* src/app/record/record.component.css */

.container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #007bff;
    /* Bootstrap primary color */
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #333;
    margin-bottom: 10px;
}