<app-navbar></app-navbar>
<div class="registration-container">
    <h2>Registration</h2>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required email />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required minlength="6" />
        </div>
        <button type="submit" [disabled]="!registrationForm.valid">Sign Up</button>
    </form>
</div>