/* src/app/register-book/register-book.component.css */

.container {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #007bff;
    /* Bootstrap primary color */
    margin-bottom: 20px;
}


/* Add more custom styles as needed */