<!-- src/app/register-book/register-book.component.html -->
<app-navbar></app-navbar>
<div class="container mt-5">
    <h2>Register Book</h2>

    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="mb-3">
            <label for="authorName" class="form-label">Author Name:</label>
            <input type="text" class="form-control" id="authorName" name="authorName" required>
        </div>

        <div class="mb-3">
            <label for="year" class="form-label">Year:</label>
            <input type="number" class="form-control" id="year" name="year" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="registerDate" class="form-label">Register Date:</label>
            <input type="date" class="form-control" id="registerDate" name="registerDate" required>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>