<app-navbar></app-navbar>
<div class="container mt-5">
    <h2>Borrow Book</h2>

    <form>
        <div class="mb-3">
            <label for="bookTitle" class="form-label">Book Title:</label>
            <input type="text" class="form-control" id="bookTitle" name="bookTitle" required>
        </div>

        <div class="mb-3">
            <label for="borrowerName" class="form-label">Borrower's Name:</label>
            <input type="text" class="form-control" id="borrowerName" name="borrowerName" required>
        </div>

        <div class="mb-3">
            <label for="returnDate" class="form-label">Return Date:</label>
            <input type="date" class="form-control" id="returnDate" name="returnDate" required>
        </div>

        <button type="submit" class="btn btn-primary">Borrow</button>
    </form>
</div>