/* src/app/about/about.component.css */

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-title {
    color: #007bff;
    margin-bottom: 20px;
}

.about-description {
    line-height: 1.6;
}