<div class="navbar">
  <div class="logo">Book Sharing Platform</div>
  <div class="menu">
    <a routerLink="/">Home</a>
    <a routerLink="/register">Signup</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/about">About</a>
    <a routerLink="/profile">Profile</a>
  </div>
</div>
