<!-- src/app/book-club/book-club.component.html -->
<app-navbar></app-navbar>


<!-- src/app/book-club/book-club.component.html -->

<div class="container mt-5">
    <h2>Book Club</h2>

    <div class="category-list">
        <!-- Science Category -->
        <div class="category">
            <h3>Science</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="/assets/thesciencebook.jpg" alt="Book Cover">
                    <h4>Big Ideas Simply Explained (Dk Big Ideas) [Hardcover]</h4>
                    <p>Author: Dan Green</p>
                    <p>Year: 2014/08</p>
                    <p>Description: Learn about our world, the universe, and groundbreaking discoveries in The Science Book.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/theselfishgene.jpg" alt="Book Cover">
                    <h4>The Selfish Gene</h4>
                    <p>Author: Richard Dawkins</p>
                    <p>Year: 1976</p>
                    <p>Description: the gene-centered view of evolution, explaining how genes, rather than individuals or species, are the driving force behind the evolution of life.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/findingthemothertree.jpeg" alt="Book Cover">
                    <h4>Finding the Mother Tree</h4>
                    <p>Author: Suzanne Simard</p>
                    <p>Year: 2023</p>
                    <p>Description: From the world’s leading forest ecologist who forever changed how people view trees and their life</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/thesciencebook.jpg" alt="Book Cover">
                    <h4>Science Book 1</h4>
                    <p>Author: Author Name</p>
                    <p>Year: 2023</p>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
            </div>
        </div>

        <!-- Biology Category -->
        <div class="category">
            <h3>Biology</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="/assets/biology.jpg" alt="Book Cover">
                    <h4>Miller and Levine Biology 2010 Foundations</h4>
                    <p>Author: Kenneth R. Miller,</p>
                    <p>Year: 2010</p>
                    <p>Description: A great option for low-level and inclusion classrooms, with digital support on Biology.com. Authors Ken Miller and Joe Levine deliver the same trusted, relevant content in more accessible ways!</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/Endlessforms.jpeg" alt="Book Cover">
                    <h4>Endless Forms Most Beautiful</h4>
                    <p>Author: Sean B. Carroll,</p>
                    <p>Year: 2005</p>
                    <p>Description: It presents a summary of the emerging field of evolutionary developmental biology and the role of toolkit genes</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/CampbellBiology.jpg" alt="Book Cover">
                    <h4>Campbell Biology (11th Revised Edition)</h4>
                    <p>Author: Jane Reece</p>
                    <p>Year: 2016</p>
                    <p>Description: The text's hallmark values - accuracy, currency, and passion for teaching and learning - have made it the most successful college introductory biology book for eight consecutive editions. </p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/NeilCampbell.jpeg" alt="Book Cover">
                    <h4>Biology: Concepts and Connections</h4>
                    <p>Author: Neil Campbell</p>
                    <p>Year: 2000</p>
                    <p>Description: Biology: Concepts & Connections, 6/e continues to be the most accurate, current, and pedagogically effective book on the market. This extensive revision builds upon the book's best-selling success with exciting new and
                        updated features.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
            </div>
        </div>

        <!-- Historical Category -->
        <div class="category">
            <h3>Historical</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="/assets/TheGunsofAugust.jpeg" alt="Book Cover">
                    <h4>The Guns of August</h4>
                    <p>Author: Barbara W. Tuchman,</p>
                    <p>Year: 1962</p>
                    <p>Description: The Guns of August is a volume of history by Barbara W. Tuchman. It is centered on the first month of World War I. </p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/USA.jpeg" alt="Book Cover">
                    <h4>A People's History of the United States</h4>
                    <p>Author:Howard Zinn,</p>
                    <p>Year: 1980</p>
                    <p>Description: A People's History of the United States is a 1980 nonfiction book by American historian and political scientist Howard Zinn. I</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/theriseandfall.jpeg" alt="Book Cover">
                    <h4>The Rise and Fall of the Third Reich</h4>
                    <p>Author: William L. Shirer</p>
                    <p>Year: 1960</p>
                    <p>Description: The Rise and Fall of the Third Reich: A History of Nazi Germany is a book by American journalist William L. Shirer.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/burymyheart.jpeg" alt="Book Cover">
                    <h4>Bury My Heart at Wounded Knee</h4>
                    <p>Author: Dee Brown</p>
                    <p>Year: 1970</p>
                    <p>Description: Bury My Heart at Wounded Knee: An Indian History of the American West is a 1970.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
            </div>
        </div>

        <div class="category">
            <h3>Technology</h3>
            <div class="book-list">
                <div class="book-item">
                    <img src="/assets/fullstack.jpeg" alt="Book Cover">
                    <h4>The Full Stack Developer</h4>
                    <p>Author: Chris Northwood</p>
                    <p>Year: 2018</p>
                    <p>Description: Understand the technical foundations, as well as the non-programming skills needed to be a successful full stack web developer. </p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/biology.jpg" alt="Book Cover">
                    <h4>Biology Book 1</h4>
                    <p>Author: Author Name</p>
                    <p>Year: 2023</p>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/biology.jpg" alt="Book Cover">
                    <h4>Biology Book 1</h4>
                    <p>Author: Author Name</p>
                    <p>Year: 2023</p>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/biology.jpg" alt="Book Cover">
                    <h4>Biology Book 1</h4>
                    <p>Author: Author Name</p>
                    <p>Year: 2023</p>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="book-item">
                    <img src="/assets/biology.jpg" alt="Book Cover">
                    <h4>Biology Book 1</h4>
                    <p>Author: Author Name</p>
                    <p>Year: 2023</p>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-primary">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>