/* src/app/app.component.css */

.page-container {
    position: relative;
    min-height: 50vh;
    /* Ensure the container takes at least the full viewport height */
    padding-bottom: 10px;
    /* Adjust as needed to leave space for the copyright section */
}

.copyright-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #3F6433;
    /* Add a background color */
    color: #edeaf0;
    font-size: 20px;
}