.main-page {
    text-align: center;
    padding: 50px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
    color: #3F6433;
}

nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
}

a {
    text-decoration: center;
    color: #1f1d1d;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    /* Adjust the size of the icons as needed */
    height: 200px;
    margin-bottom: 20px;
}

a:hover {
    color: #007bff;
}