<app-navbar></app-navbar>
<div class="main-page">
    <header>
        <h1>WELCOME TO BOOK SHARING PLATFORM</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a routerLink="/book-club">
                    <img src="assets/Bookclub.png" alt="Book Club" />
                    <span>Book Club</span>
                </a>
            </li>
            <li>
                <a routerLink="/register-book">
                    <img src="assets/register book.png" alt="Register Book" />
                    <span>Register Book</span>
                </a>
            </li>
            <li>
                <a routerLink="/record">
                    <img src="assets/recordbook.png" alt="Record" />
                    <span>Record</span>
                </a>
            </li>
            <li>
                <a routerLink="/borrow-book">
                    <img src="assets/borrowbook.png" alt="Borrow Book" />
                    <span>Borrow Book</span>
                </a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>