/* src/app/profile/profile.component.css */

.profile-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

.card-title {
    color: #007bff;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-info {
    flex-grow: 1;
    margin-left: 20px;
    text-align: left;
}


/* Add more styling as needed */