        /* You can add global styles to this file, and also import other style files */
        
        @import '~bootstrap/dist/css/bootstrap.css';
        /* src/styles.css */
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }
        
        .background-animation {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            /* Place the background behind other elements */
            animation: backgroundAnimation 20s linear infinite;
        }
        
        @keyframes backgroundAnimation {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
            100% {
                transform: scale(1);
            }
        }
        
        .login-container {
            max-width: 400px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            margin-top: 50px;
            /* Adjust as needed */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .login-container h2 {
            color: #333;
        }
        
        .login-form input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        .login-form button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .login-form button:hover {
            background-color: #0056b3;
        }